
{% block body %}
	{% for banner in banners %}
		<div class="">
			<div class="cell">
				<img id="newImages" class="marginFrame" src="{{ url('index') }}../../{{ banner.imageurl }}" style="width: 16rem ! important; height: 7rem ! important;">			
			</div>
		</div>
	{% endfor %}

	<a href="#" class="btn btn-success">Mas</a>

{% endblock %}