
{% block body %}
<div>
	{% for banner in banners %}
		<div class="container page-content fg-dark">
			<h1><span class="mif-event-available"></span> {{ banner.name }}</h1>
			<div class="cell">
				<img id="newImages" class="marginFrame" src="{{ url('index') }}../../{{ banner.imageurl }}" style="width: 30rem ! important;">			
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}